{% extends "base.html" %}

{% block header %}
    <h1> Edit {{ provider.name }}  </h1>
{% endblock %}

{% block content %}
    <table>
        <form action="/providers/{{ provider.id }}" method="POST">
            <tr>
                <td> <label for="name">Name:</label> </td>
                <td> <input type="text" id="name" name="name" value="{{ provider.name }}"> </td>
            </tr>
            <tr>
                <td> <label for="type">Type:</label> </td>
                <td> <input type="text" id="type" name="type" value="{{ provider.type }}"> </td>
            </tr>
            <tr>
                <td> <label for="country">Country:</label> </td>
                <td><input type="text" id="country" name="country" value="{{ provider.country }}"></td>
            </tr>
            <tr>
                <td><label for="address">Address:</label></td>
                <td><input type="text" id="address" name="address" value="{{ provider.address }}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/providers"> Cancel </a>
                    <input type="submit" value="Update">
                </td>
            </tr>
        </form>
    </table>

{% endblock %}