{% extends "base.html" %}


{% block header %}
    <h1> All Providers </h1>
{% endblock %}


{% block content %}
    <a class="grid-main-upper-buttons" href="/providers/new"> Create New Provider </a>
    <table>    
        <tr>
            <th> Name </th>
            <th> Type </th>
            <th> Country </th>
            <th> Address </th>
            <th>  </th>

        </tr>

        {% for provider in all_providers %}
        <tr>
            <td> {{ provider.name }} </td>
            <td> {{ provider.type }} </td>
            <td> {{ provider.country }} </td>
            <td> {{ provider.address }} </td>
            <td>
                <a href = "/cheese_provisions/{{ provider.id }}/provisions_by_provider"> View cheeses </a>
                <br>
                <a href = "/cheese_provisions/{{ provider.id}}/add_by_provider"> Add cheese to provider supply </a>
                <a href = "/providers/{{ provider.id }}/edit"> Edit </a>
                <form action="/providers/{{ provider.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}