{% extends "base.html" %}


{% block header %}
    <h1> All Cheeses </h1>
{% endblock %}


{% block content %}
    <a href="/cheeses/new"> New cheese </a>
    <table>    
        <tr>
            <th> Name </th>
            <th> Origin </th>
            <th> Milk </th>
            <th> Description </th>
            <th> Stock </th>
            <th> Buying Cost (per kg) </th>
            <th> Selling Price (per kg)</th>
            <th> Include in Inventory? </th>
            <th> Actions </th>

        </tr>

        {% for cheese in all_cheeses %}
        <tr>
            <td> {{ cheese.name }} </td>
            <td> {{ cheese.origin }} </td>
            <td> {{ cheese.milk }} </td>
            <td> {{ cheese.description }} </td>
            <td> {{ cheese.stock }} </td>
            <td> £{{ cheese.buying_cost }} </td>
            <td> £{{ cheese.selling_price }} </td>
            <td> {{ cheese.inventory_include }} </td>
            <td>
                <a href = "/cheese_provisions/{{ cheese.id }}/provisions_by_cheese"> View providers </a>
                <a href = "/cheese_provisions/{{ cheese.id}}/new_by_cheese"> Add provider </a>
                <a href = "/cheeses/{{ cheese.id }}/edit"> Edit </a>
                <form action="/cheeses/{{ cheese.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}