{% extends "base.html" %}

{% block header %}
    <h1> Add new provider to {{ cheese.name }} </h1>
{% endblock %}

{% block content %}
    <table>
        <form action="/cheese_provisions/{{ cheese.id }}" method="POST">
            <tr>
                <td> <label for="name">Name:</label> </td>
                <td> <input type="text" id="name" name="name"> </td>
            </tr>
            <tr>
                <td> <label for="type">Type:</label> </td>
                <td> <input type="text" id="type" name="type"> </td>
            </tr>
            <tr>
                <td> <label for="country">Country:</label> </td>
                <td><input type="text" id="country" name="country"></td>
            </tr>
            <tr>
                <td> <label for="address">Address:</label> </td>
                <td> <input type="text" id="address" name="address"> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/cheeses"> Cancel </a>
                    <input type="submit" value="Create">
                </td>
            </tr>
        </form>
    </table>

{% endblock %}