{% extends "base.html" %}


{% block header %}
    <h1> All Providers for {{ cheese.name }}</h1>
{% endblock %}


{% block content %}
    <table>    
        <tr>
            <th> Name </th>
            <th> Type </th>
            <th> Country </th>
            <th> Address </th>
            <th>  </th>

        </tr>

        {% for provision in provisions_by_cheese %}
        <tr>
            <td> {{ provision.provider.name }} </td>
            <td> {{ provision.provider.type }} </td>
            <td> {{ provision.provider.country }} </td>
            <td> {{ provision.provider.address }} </td>
            <td>
                <form action="/cheese_provisions/{{ cheese.id}}/{{ provision.id }}/delete-by-cheese" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}