{% extends "base.html" %}


{% block header %}
    <h1> All Cheeses for {{ provider.name }}</h1>
{% endblock %}

{% block content %}
    <a class="grid-main-upper-buttons" href = "/cheese_provisions/{{ provider.id}}/add_by_provider"> Add cheese </a>
    <table>    
        <tr>
            <th> Name </th>
            <th> Origin </th>
            <th> Type </th>
            <th> Description </th>
            <th> Stock </th>
            <th> Buying Cost </th>
            <th> Selling Price </th>
            <th> Included in inventory </th>
            <th> </th>
        </tr>

        {% for provision in provisions_by_provider %}
        <tr>
            <td> {{ provision.cheese.name }} </td>
            <td> {{ provision.cheese.origin }} </td>
            <td> {{ provision.cheese.type }} </td>
            <td> {{ provision.cheese.description }} </td>
            <td> {{ provision.cheese.stock }} </td>
            <td> {{ provision.cheese.buying_cost }} </td>
            <td> {{ provision.cheese.selling_price }} </td>
            <td> {{ provision.cheese.inventory_include }} </td>
            <td>
                <form action="/cheese_provisions/{{ provider.id}}/{{ provision.id }} /delete-by-provider" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}