.grid-container {
    display: grid;
    min-width: 100vh;
    min-height: 100vh;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas:
        "grid-header grid-header"
        "grid-menu grid-main"
        "grid-footer grid-footer";
}

.grid-header {
    grid-area: grid-header;
    /* border: 1px solid black; */
}

.grid-menu {
    grid-area: grid-menu;
    /* border: 1px solid black; */
}

.grid-main {
    grid-area: grid-main;
    /* border: 1px solid black; */
    overflow: auto;
}

.grid-footer {
    grid-area: grid-footer;
    /* border: 1px solid black; */
}