body {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1vw;
    height: 100vh;
}

h1 {
    font-size: 4vw;
    font-family: 'Pacifico', cursive;
    margin: 0px;
    text-align: center;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas:
        "grid-menu grid-header"
        "grid-menu grid-main"
        "grid-menu grid-footer";
    
}

.grid-header {
    grid-area: grid-header;
}

.grid-menu {
    grid-area: grid-menu;
    background-color: #364650;
    color: #FFF7EC;
    font-family: 'Roboto', sans-serif;
}

.grid-menu a {
    color: #FFF7EC;
    text-decoration: none;
}
.grid-menu ul {
    list-style: none;
    padding: 0px;
    padding-top: 16px;
    text-align: center;
    }

.grid-main {
    grid-area: grid-main;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-main-upper-buttons {
    align-self: flex-start;
    margin-left: 16px;
    border: 1px solid #faaf01;
    border-radius: 1vw;
    padding: 8px;
    background-color: #FEBC21;
}

.grid-main-side-buttons {
    border: 1px solid #faaf01;
    border-radius: 4px;
    padding: 4px;
    background-color: #FEBC21;
}

a:link {
    text-decoration: none;
}

.grid-footer {
    grid-area: grid-footer;
    text-align: center;
}

#highlighted-zero {
    background-color: #E7560C;
}

#highlighted-low {
    background-color: #FEBC21;
}

table {
    align-self: stretch;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    background-color: white;
    border-spacing: 5px;
    margin: 16px;
}

th {
    border-bottom: 1px solid #E7560C;
    padding: 8px;
}


td {
    background-color: #FFF7EC;
    padding: 8px;
}