{% extends "base.html" %}

{% block header %}
    <h1> Inventory </h1>
{% endblock %}

{% block content %}
    
    <table>    
        <tr>
            <th> Name </th>
            <th> Origin </th>
            <th> Milk </th>
            <th> Description </th>
            <th> Stock </th>
            <th> Buying Cost (per kg) </th>
            <th> Selling Price (per kg) </th>
            <th> Actions </th>
        </tr>

        {% for cheese in all_cheeses %}
            {% if cheese.inventory_include == True %}
                <tr>
                    <td> {{ cheese.name }} </td>
                    <td> {{ cheese.origin }} </td>
                    <td> {{ cheese.milk }} </td>
                    <td> {{ cheese.description }} </td>

                    {% if cheese.stock == 0 %}
                        <td id="highlighted-zero"> {{ cheese.stock }} </td>
                    {% elif cheese.stock < 10 %}
                        <td id="highlighted-low"> {{ cheese.stock }} </td>
                    {% else %}
                        <td> {{ cheese.stock }} </td>
                    {% endif %}

                    <td> £{{ cheese.buying_cost }} </td>
                    <td> £{{ cheese.selling_price }} </td>
                    <td>
                        <a href = "/cheeses/{{ cheese.id }}/edit-stock"> Edit stock </a>
                        <form action="/cheeses/{{ cheese.id }}/inventory-exclude" method="POST">
                            <input type="submit" value="Exclude from inventory">
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>    
{% endblock %}